<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div class="container pt-5 pb-5">
        <form id="app" class="page">
            <span v-for="e in errors" :key="e.id">{{e}}</span>

            <!-- Front Page -->
            <section v-if="step==0">
                <div class="head">
                    <div class="logo">
                        <img src="./images/logo.png" style="margin-right:30px">Skills Group
                    </div>
                </div>
                <div>
                    <h1 style="text-align: center;font-size: 60px;height: 200px;margin-top: 50px;">Wellbeing<br>Check In
                    </h1>
                </div>
                <div style="height: 160px;text-align: center;background-color: rgb(240, 200, 186);padding-top: 40px;">
                    <p style="font-size: 25px;"><strong>ESTIMATED TIME</strong></p>
                    <p style="font-size: 25px;">5 mins</p>
                </div>
            </section>
            <div v-if="step==0" style="height: 235px;">

                <button @click.prevent="nextStep" class="startButton">Get started</button>
            </div>



            <!-- Page1 -->

            <section v-if="step==1">
                <div class="head">
                    <div class="logo">
                        <img src="./images/logo.png" style="margin-right:30px">Question 1
                    </div>
                </div>

                <div style="height: 300px;text-align: center;padding: 30px;">
                    <h3 class="question">My family and I are doing well</h3>
                </div>
                <div>
                    <div style="height: 130px;text-align: center;font-family:'Times New Roman', Times, serif;">
                        <p style="color:rgb(208, 73, 26);font-size: 40px;">{{question1Show}}</p>
                    </div>

                    <div style="margin-bottom: 80px;" class="sliderContainer">
                        <input type="range" min=1 max=6 value=1 class="slider"
                             v-model="question1Answer">
                             <!-- @change="question1Display(question1Answer)" -->
                    </div>

                </div>

                <!-- <input type="text" placeholder="what is your name" class="form-control form-control-lg"
                    v-model="form.name"> -->
            </section>

            <!-- Page2 -->
            <section v-if="step==2">
                <div class="head"></div>
                <h3>Question 2</h3>
                <p>What is your telephone number?</p>
                <input type="tel" placeholder="what is your phonenumber" class="form-control form-control-lg"
                    v-model="form.phone">
                <input type="email" placeholder="what is your email address" class="form-control form-control-lg"
                    v-model="form.email">
            </section>

            <!-- Page3 -->
            <section v-if="step==3">
                <div class="head"></div>
                <h3>Question 3</h3>
                <p>What message do you like to put</p>
                <textarea placeholder="text your message" class="form-control form-control-lg"
                    v-model="form.message"></textarea>

            </section>

            <!-- Page4 -->
            <section v-if="step==4">
                <div class="head"></div>
                <h3>Question 4</h3>
                <p>What message do you like to put</p>
                <textarea placeholder="text your message" class="form-control form-control-lg"
                    v-model="form.message"></textarea>

            </section>

            <!-- Page5 -->
            <section v-if="step==5">
                <div class="head"></div>
                <h3>Question 5</h3>
                <p>What message do you like to put</p>
                <textarea placeholder="text your message" class="form-control form-control-lg"
                    v-model="form.message"></textarea>

            </section>

            <!-- Page6 -->
            <section v-if="step==6">
                <div class="head"></div>
                <h3>Question 6</h3>
                <p>What message do you like to put</p>
                <textarea placeholder="text your message" class="form-control form-control-lg"
                    v-model="form.message"></textarea>

            </section>

            <!-- Page7 -->
            <section v-if="step==7">
                <div class="head"></div>
                <h3>Question 7</h3>
                <p>What message do you like to put</p>
                <textarea placeholder="text your message" class="form-control form-control-lg"
                    v-model="form.message"></textarea>

            </section>

            <!-- shared buttons -->
            <button @click.prevent="previousStep" v-if="step>0" class="buttonBack">Back</button>
            <button @click.prevent="nextStep" v-if="step>0 && step!==totalSteps" class="buttonNext">Next</button>
            <button v-if="step==totalSteps" type="submit" @click.prevent="sendEnquiry">Complete</button>
            <button v-if="step==totalSteps" @click.prevent="backToFront">Do it again</button>
            <p v-if="showResult && step==totalSteps">{{form.name}} {{form.email}} {{form.message}}</p>

        </form>




    </div>
    <script>
        const App = new Vue({

            el: "#app",
            data: {
                step: 1,
                totalSteps: 7,
                form: {
                    name: null,
                    email: null,
                    phone: null,
                    message: null
                },
                errors: [],
                showResult: false,
                question1: [
                    { value: 1, content: "None of the time" },
                    { value: 2, content: "Some of the time" },
                    { value: 3, content: "Less than half of the time" },
                    { value: 4, content: "More than half of the time" },
                    { value: 5, content: "Most of the time" },
                    { value: 6, content: "All of the time" },
                ],
                question1Answer: 0,
                question1Show: "None of the time",
            },
            methods: {
                nextStep: function () {
                    // if (this.step == 1) {
                    //     if (!this.form.name) {
                    //         this.errors = 'Please the fill the form.';
                    //         return alert('Please the fill the form.');
                    //     }
                    // }
                    // if (this.step == 2) {
                    //     if (!this.form.phone || !this.form.email) {
                    //         this.errors = 'Please the fill the form.';
                    //         return alert('Please the fill the form.');
                    //     }
                    // }
                    this.step++;
                },
                previousStep: function () {
                    this.step--;
                },

                sendEnquiry: function () {
                    // if (this.step == 3) {
                    //     if (!this.form.message) {
                    //         this.errors = 'Please the fill the form.';
                    //         return alert('Please the fill the form.');
                    //     }
                    // }
                    this.errors = null;
                    this.showResult = !this.showResult;

                },

                backToFront: function () {
                    if (this.step == this.totalSteps)
                        this.step = 0;
                },
                question1Display: function (question1Answer) {
                    var result = this.question1.find(q => q.value == question1Answer);

                    this.question1Show = result.content;
                },
            },
            created() {

            },
            watch:{
                question1Answer(value){
                    var result = this.question1.find(q => q.value == value);

                    this.question1Show = result.content;
                }
            }


        })




    </script>




</body>

</html>