<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Survey</title>
</head>
<body>
    <div id='app'>

        <ul>
            <li v-for="question in questions" :key="question.id" >
                <span>{{question.content}}</span>
                <ul>
                    <li v-for="choice in question.choices" :key="choice.value">
                            {{choice.content}}<input type="checkbox" value="choice.value" v-model="question.answer"> {{choice.value}}
                         
    
                    </li>
                </ul>
                <span>{{question.answer}}</span>
            </li>
        </ul>

    </div>
   
    
</body>
</html>

<script>





 var vm=new Vue({
    el:'#app',
    data:{
        questions:[
        {
            id:1,
            content:"this is questions one",
            choices:[
                    {value:0,content:'choice for one'},
                    {value:1,content:'choice for YOOKJS one'},
                    {value:2,content:'choice for tHREE'}
                    ],
            answer:'No answer yet'
        },
        {
            id:2,
            content:"this is questions two",
            choices:[
                    {value:0,content:'choice for one'},
                    {value:1,content:'choice for YOOKJS one'},
                    {value:2,content:'choice for tHREE'}
                    ],
            answer:'No answer yet'
        },
        ]



  
    },
    methods: {
        getAnswer: function(question){
            return question.answer;
        }
    },
    
 });
    






</script>