<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    </style>>
    <div class="container pt-5 pb-5">
        <form id="app" class="page">
           

            <!-- Front Page -->
            <transition name="fade">
                <div>
                    <section v-if="step==0">
                        <div class="head">
                            <div class="logo">
                                <img src="./images/logo.png" style="margin-right: 30px" />Skills Group
                            </div>
                        </div>
                        <div>
                            <h1 style="
                    text-align: center;
                    font-size: 60px;
                    height: 200px;
                    margin-top: 50px;
                  ">
                                Wellbeing<br />Check In
                            </h1>
                        </div>
                        <div style="
                  height: 160px;
                  text-align: center;
                  background-color: rgb(240, 200, 186);
                  padding-top: 40px;
                ">
                            <p style="font-size: 25px"><strong>ESTIMATED TIME</strong></p>
                            <p style="font-size: 25px">5 mins</p>
                        </div>
                    </section>
                    <div v-if="step==0" style="height: 235px">
                        <button @click.prevent="nextStep" class="startButton">
                            Get started
                        </button>
                    </div>
                </div>
            </transition>

            <!-- Page1 -->
            <transition name="fade">
                <section v-if="step==1">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 1
                        </div>
                    </div>

                    <div style="height: 300px; text-align: center; padding: 30px">
                        <h3 class="question">My family and I are doing well</h3>
                    </div>
                    <div>
                        <div style="
                  height: 130px;
                  text-align: center;
                  font-family: 'Times New Roman', Times, serif;
                ">
                            <p style="color: rgb(208, 73, 26); font-size: 40px">
                                {{question1Show}}
                            </p>
                        </div>

                        <div style="margin-bottom: 80px" class="sliderContainer">
                            <input type="range" min="1" max="6" value="1" class="slider" v-model="question1Answer" />
                            <!-- @change="question1Display(question1Answer)" -->
                        </div>
                    </div>
                </section>
            </transition>

            <!-- Page2 -->

            <transition name="fade">
                <section v-if="step==2">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 2
                        </div>
                    </div>
                    <div style="height: 300px; text-align: center; padding: 30px">
                        <h3 class="question">
                            I'm keeping in regular contact with my team
                        </h3>
                    </div>
                    <div>
                        <div style="
                  height: 130px;
                  text-align: center;
                  font-family: 'Times New Roman', Times, serif;
                ">
                            <p style="color: rgb(208, 73, 26); font-size: 40px">
                                {{question2Show}}
                            </p>
                        </div>

                        <div style="margin-bottom: 80px" class="sliderContainer">
                            <input type="range" min="1" max="6" value="1" class="slider" v-model="question2Answer" />
                        </div>
                    </div>
                </section>
            </transition>

            <!-- Page3 -->
            <transition name="fade">
                <section v-if="step==3">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 3
                        </div>
                    </div>
                    <div style="height: 300px; text-align: center; padding: 30px">
                        <h3 class="question">
                            I feel confident I can manage my wellbeing
                        </h3>
                    </div>
                    <div>
                        <div style="
                  height: 150px;
                  text-align: center;
                  font-family: 'Times New Roman', Times, serif;
                ">
                            <p style="color: rgb(208, 73, 26); font-size: 40px">
                                {{question3Show}}
                            </p>
                        </div>

                        <div class="sliderContainer">
                            <input type="range" min="1" max="6" value="1" class="slider" v-model="question3Answer" />
                        </div>
                    </div>
                </section>
            </transition>

            <!-- Page4 -->
            <transition name="fade">
                <section v-if="step==4">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 4
                        </div>
                    </div>
                    <div style="height: 300px; text-align: center; padding: 30px">
                        <h3 class="question">
                            I know how I can get support with my wellbeing if I need it
                        </h3>
                    </div>
                    <div style="height: 300px;">
                        <button @click.prevent="question4No"
                            v-bind:class="question4Answer==0?'question4No': (question4Answer==2?'question4Yes':'question4No')"
                            :value="question4Answer,question4Clicked">
                            No
                        </button>
                        <button @click.prevent="question4Yes"
                            v-bind:class="question4Answer==0? 'question4No':(question4Answer==1?'question4Yes':'question4No')"
                            :value="question4Answer,question4Clicked">
                            Yes
                        </button>
                        <p v-if="question4Error"
                            style="text-align: center;color: red;font-size: 20px;margin-top: 50px;">Please answer before
                            proceeding</p>
                    </div>
                </section>
            </transition>

            <!-- Page5 -->
            <transition name="fade">
                <section v-if="step==5">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 5
                        </div>
                    </div>
                    <div style="height: 200px; text-align: center; padding: 30px">
                        <h3 style="margin-top: 30px;font-weight: bold;
                        font-size: 30px;">
                            What are concerns you have over the next few weeks?
                        </h3>
                    </div>
                    <div style="height: 400px;text-align: center;margin-bottom: 20px;">
                       <textarea rows="16" v-model="question5Answer" cols="60" style="resize: none;border: red solid 2px;border-radius: 5px;"></textarea>
                    </div>
                </section>
            </transition>

            <!-- Page6 -->
            <transition name="fade">
                <section v-if="step==6">
                    <div class="head">
                        <div class="logo">
                            <img src="./images/logo.png" style="margin-right: 30px" />Question 6
                        </div>
                    </div>
                    <div style="height: 200px; text-align: center; padding: 30px">
                        <h3 style="margin-top: 30px;font-weight: bold;
                        font-size: 30px;">
                            Is there anything else that we can do to help you?
                        </h3>
                    </div>
                    <div style="height: 400px;text-align: center;margin-bottom: 20px;">
                       <textarea rows="16" v-model="question6Answer" cols="60" style="resize: none;border: red solid 2px;border-radius: 5px;"></textarea>
                    </div>
                </section>
            </transition>
            <!-- Page7 -->
            <transition name="fade">
                <section v-if="step==7">
                    <div class="head"></div>
                    <h3>Question 7</h3>
                    <p>What message do you like to put</p>
                    <textarea placeholder="text your message" class="form-control form-control-lg"
                        v-model="form.message"></textarea>
                </section>
            </transition>

            <!-- shared buttons -->
            <div>
                <button @click.prevent="previousStep" v-if="step>0" class="buttonBack">
                    Back
                </button>
                <button @click.prevent="nextStep" v-if="step>0 && step!==totalSteps" class="buttonNext">
                    Next
                </button>
                <button v-if="step==totalSteps" type="submit" @click.prevent="sendEnquiry">
                    Complete
                </button>
                <button v-if="step==totalSteps" @click.prevent="backToFront">
                    Do it again
                </button>
                <p v-if="showResult && step==totalSteps">
                    {{form.name}} {{form.email}} {{form.message}}
                </p>
            </div>
        </form>
    </div>
    <script>
        const App = new Vue({
            el: "#app",
            data: {
                step: 4,
                totalSteps: 7,
                form: {
                    name: null,
                    email: null,
                    phone: null,
                    message: null,
                },               
                showResult: false,
                question123: [
                    { value: 1, content: "None of the time" },
                    { value: 2, content: "Some of the time" },
                    { value: 3, content: "Less than half of the time" },
                    { value: 4, content: "More than half of the time" },
                    { value: 5, content: "Most of the time" },
                    { value: 6, content: "All of the time" },
                ],
                question1Answer: 1,
                question2Answer: 1,
                question3Answer: 1,
                question1Show: "None of the time",
                question2Show: "None of the time",
                question3Show: "None of the time",
                question4Answer: 0,
                question4Clicked: false,
                question4Error: false,
                question5Answer:'',
                question6Answer:''
            },
            methods: {
                nextStep: function () {

                    if (this.step == 4) {
                        if (this.question4Clicked) {
                            this.question4Error = false;
                            this.step++;
                        }
                        else {
                            this.question4Error = true;

                        }
                    } else {
                        this.question4Error = false;
                        this.step++;
                    }

                },
                previousStep: function () {
                    this.step--;
                },

                sendEnquiry: function () {

                    this.errors = null;
                    this.showResult = !this.showResult;
                },

                backToFront: function () {
                    if (this.step == this.totalSteps) this.step = 0;
                },
                question4Yes: function () {
                    this.question4Answer = 1;
                    this.question4Clicked = true;
                },
                question4No: function () {
                    this.question4Answer = 2;
                    this.question4Clicked = true;
                },

            },
            created() { },
            mounted() { },
            watch: {
                question1Answer(value) {
                    var result = this.question123.find((q) => q.value == value);
                    this.question1Show = result.content;
                },
                question2Answer(value) {
                    var result = this.question123.find((q) => q.value == value);
                    this.question2Show = result.content;
                },
                question3Answer(value) {
                    var result = this.question123.find((q) => q.value == value);
                    this.question3Show = result.content;
                }
            },
        });
    </script>

    <style>
        .fade-enter-active

        /* .fade-leave-active*/
            {
            transition: opacity 0.5s;
        }

        .fade-enter

        /* .fade-leave-to */
            {
            opacity: 0;
        }
    </style>
</body>

</html>