.page{
    width: 520px;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

body{
    background-color: rgb(80, 80, 80);
}

.head{
    height: 130px;
    background-color: rgb(213, 25, 32);
    color: white;
}

.logo{
    font-size: 40px;
   
}

.buttonNext{
    width: 225px;
    height: 85px;
    background-color: rgb(213, 25, 32);
    border-radius: 50px;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    border:rgb(213, 25, 32);
}

.buttonBack{
    width: 225px;
    height: 85px;
    background-color: white;
    border-radius: 50px;
    color:gray;
    font-size: 30px;
    margin-left: 20px;
    border:gray solid 1px;
}

.question4No{
    width: 220px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    color:black;
    font-size: 25px;
    margin-left: 20px;
    border:red solid 2px;
}
.question4No:active{
    width: 220px;
    height: 50px;
    background-color:black;
    border-radius: 10px;
    color: rgb(238, 163, 165);
    font-size: 25px;
    margin-left: 20px;
    border:red solid 2px;
}



.question4Yes{
    width: 220px;
    height: 50px;
    background-color:rgb(238, 163, 165);
    border-radius: 10px;
    color:black;
    font-size: 25px;
    margin-left: 20px;
    border:red solid 2px;
}

.question4Yes:hover{
    width: 220px;
    height: 50px;
    background-color:rgb(241, 181, 183);
    border-radius: 10px;
    color:black;
    font-size: 25px;
    margin-left: 20px;
    border:red solid 2px;
}

.question4Yes:active{
    width: 220px;
    height: 50px;
    background-color:black;
    border-radius: 10px;
    color: rgb(238, 163, 165);
    font-size: 25px;
    margin-left: 20px;
    border:red solid 2px;
}

.question{
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px;
    
}

.startButton{
    color:white;
    background-color:rgb(221, 71, 76);
    height: 80px;
    width: 385px;
    border-radius: 50px;
    margin-top: 108px;
    margin-left: 70px;
    font-size: 25px;
    border: transparent;
}

.sliderContainer{
width: 440px;
height: 100px;
margin: auto;
margin-bottom: 80px;
}


.slider{
    width: 400px;
    margin: auto;
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  /* Full-width */
  height: 3px; /*Specified height */
  background: rgb(208, 73, 26); /* Grey background */
  outline: none; /* Remove outline */  
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(208, 73, 26);
    height: 30px;
    width: 30px;
    color: red;
    border-radius: 50px;
}
.slider::-webkit-slider-thumb:hover{
    height: 45px;
    width: 45px;
}



.q7button{
    width:450px;
    height: 50px;
    border: none;
    text-align: left;
    font-size: 25px;
}

.q7button:hover{
    background-color:  rgb(229, 117, 121);;
}